@font-face{
    font-family:NanumGothic;
    src:url("./NanumGothic.otf");
}
        *{margin:0; padding:0;}
        form{width:750px; height:500px;margin:0 auto; margin-top:150px;}
        button{width:100px; height:50px;background-color:#f9690e; color:#fff; border:none;cursor:pointer;}
        #title{width:715px;height:50px; font-size:20px;}
        td{width:650px;}
        input::-webkit-input-placeholder {
        font-size: 25px;
        font-family:NanumGothic;
}
        textarea::-webkit-input-placeholder {
        font-size: 20px;
        font-family:NanumGothic;
}
        #title{border:none;}
        textarea{border:none;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:15px;}
    #file{width:200px;height:30px;background-color:#f9690e; color:#fff; border:none;cursor:pointer;}